.main {
    padding-top: 4.8rem;
    background-image: url('../assets/image-hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size: 100% 400px;
    margin-bottom: 2.6rem;

    &__jumbotron {
        margin-top: 19rem;
    }

    @include respond(phone) {
        background-image: url('../assets/image-hero-mobile.jpg');
        background-size: 100% 300px;
        padding-top: 3.3rem;
    }
}