.thank-you {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__icon-box {
        margin-bottom: 4.5rem;

        @include respond(phone) {
            margin-bottom: 2.6rem;

        }
        img {
            width: 8.7rem;
            height: 8.7rem;

            @include respond(phone) {
                width: 6.4rem;
                height: 6.4rem;
            }
        }
    }

    &__heading {
        margin-bottom: 2rem;
        font-size: 2.4rem;
    }

    &__text {
        margin-bottom: 3rem;
        line-height: 3rem;
    }

}